*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: 'Noto Sans';
    background-color: #eee;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #333;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

button {
    border: none;
    outline: none;
}

address {
    font-style: normal;
}

section {
    padding: 60px 0;
}

.container {
    max-width: 1350px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-size: 3em;
    line-height: 1.25em;
    text-align: center;
}

section .title {
    font-size: 2.4em;
    margin-bottom: 45px;
}

.subtitle {
    margin-top: 20px;
    font-size: 24px;
}

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

/* КНОПКА НАВЕРХ */

#toTop {
    width: 50px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 30px;
    cursor: pointer;
    display: none;
}

#toTop svg {
    transition: 1s ease;
}

#toTop svg:hover {
    fill: #ff4c4c;
    transform: scale(1.2);
}


.header__top {
    width: 100%;
    padding: 0 10px;
    background-color: #fff;
}

.header__top>.container,
.footer>.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 0px;
}

.footer {
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    color: #000
}

.footer .container {
    padding: 10px 10px;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright__link a {
    font-size: 14px;
    text-transform: none;
    transition: 0.3s linear;
}

.social {
    padding-top: 15px;
}

.social__link svg {
    transition: 0.3s linear;
}

.social__link svg:hover {
    fill: rgb(50, 119, 224);
}

.logo {
    padding-top: 15px;
}

.blue__text-logo {
    transition: 0.3s linear;
}

.logo:hover .blue__text-logo {
    fill: rgb(50, 119, 224);
}

.menu {
    list-style: none;
    display: flex;
    column-gap: 60px;
}

.menu__link {
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.3s linear;
}

.menu__link:hover {
    color: #ff4c4c;
    transition: 0.4s linear;
}

.menu__link-active {
    color: #ff4c4c;
}

.header__general {
    padding: 0 100px;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}

.general__title {
    font-size: 2.7em;
}

.blue__text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(50, 119, 224);
}

.general__intro, .course__intro, .handbook__intro, .tests__intro {
    margin-bottom: 100px;
    padding: 0 100px;
}

.tests__intro {
    margin-bottom: 40px;
}

.general__intro .guide__item,
.course__intro .guide__item,
.handbook__intro .guide__item,
.tests__intro .guide__item {
    justify-content: space-evenly;
    row-gap: 35px;
}

.general__intro .guide__item-link,
.course__intro .guide__item-link,
.handbook__intro .guide__item-link,
.tests__intro .guide__item-link {
    flex-basis: 370px;
    padding: 25px;


    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5)
}

.general__intro .guide__item-link:hover,
.course__intro .guide__item-link:hover,
.handbook__intro .guide__item-link:hover,
.tests__intro .guide__item-link:hover {
    background-color: #ff4c4c;
    color: #fff;
    transform: scale(1.1);
}

.arrow {
    text-align: center;
    transform: rotate(180deg);
    margin-bottom: 100px;
}

.arrow svg {
    transition: 0.3s linear;
}

.arrow svg:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.goal {
    min-height: 100vh;
    /* background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background-color: #52ff946b;
}

.goal__content {
    margin-top: 20px;
    display: flex;

}

.goal__text {
    flex-basis: 1900px;
    font-size: 20px;
    padding-right: 20px;
}

.goal__text-item {
    margin-bottom: 20px;
}

.goal__picture {
    margin-bottom: 20px;
    text-align: center;
}

.results {
    min-height: 100vh;
}

section .results__title {
    margin-bottom: 10px;
}

.results__list {
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 18px;
}

.results__item {
    margin-top: 65px;
    flex-basis: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.results__item-img {
    padding-top: 5px;
    margin-right: 40px;
}

.intro {
    min-height: 100vh;
    background-color: #52ff946b;
}

section .intro__title {
    margin-bottom: 25px;
}

.intro__subtitle {
    font-size: 20px;
    text-align: center;
}

.intro__inner {
    border: 1px solid #000;
    padding: 60px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #fff;
}

.intro__list {}

.intro__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1.5em;
}

.intro__item:not(:last-child) {
    margin-bottom: 40px;
    border-bottom: 1px solid #000;
}

.intro__item-text {
    flex-basis: 750px;
}

.intro__item-subtitle {
    opacity: 0.8;
}

.intro__item-title {
    font-size: 18px;
    margin: 20px 0px;
}

.intro__item-themes {
    margin-left: 80px;
}

.intro__item-theme {
    display: block;
    margin-bottom: 20px;
}

/* КУРС */

.lectures {
    background-color: #52ff946b;
}

.lectures__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lectures__item {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

    border: 2px solid #333;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    transition: 0.3s linear;
}

.lectures__item:hover {
    border-color: rgb(50, 119, 224);
}

.lectures__item:hover .lectures__item-module--counter {
    color: rgb(50, 119, 224);
}

.lectures__item-module {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px;
}

.lectures__item-module--counter {
    transition: 0.3s linear;
}

.lectures__item-links a {
    font-size: 20px;
    display: block;
    transition: 0.3s linear;
}

.lectures__item-links a:hover {
    color: #ff4c4c;
    text-decoration: underline;
}

/* СПРАВОЧНИК */

.guide__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.guide__title:not(:first-child) {
    margin-top: 60px;
}

.guide__block {
    display: flex;
    flex-direction: column;
}

.guide__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    row-gap: 25px;
}

.guide__item-link {
    flex-basis: 300px;
    padding: 20px;
    border: 2px solid #333;
    font-size: 18px;
    text-align: center;
    transition: 0.3s ease;

    position: relative;
}

.guide__item-link--counter {
    position: absolute;
    top: 0;
    left: 15px;
}

.guide__item-link:hover {
    color: #000;
    background-color: #52ff946b;
    transform: translateY(-5px);
}


/* ЛЕКЦИИ */

.lesson {
    padding-top: 30px;
    font-size: 20px;
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

.breadcrumb__actual {
    color: #292929;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: rgb(50, 119, 224);
    text-decoration: none;
    transition: 0.3 linear
}

ul.breadcrumb li a:hover {
    color: rgb(14, 97, 221);
    text-decoration: underline;
}

.lesson__title {
    margin: 20px 0;
    font-size: 40px;
    text-align: left;
}

.lesson__content {
    text-align: justify;
    color: #000;
}

.guide__code {
    margin-bottom: 20px;
    padding: 20px 20px 5px 20px;
    background-color: #52ff946b;
}

.lesson__text {
    margin-bottom: 20px;
}

.lesson__text--italic {
    padding-left: 40px;
    font-style: italic;
    font-size: 20px;
    margin: 20px 0;
}

.lesson__inner-title {
    margin: 30px 0 30px 0;
    font-size: 24px;
}

.lesson__list {
    padding-left: 40px;
    margin-bottom: 30px;
}

.lesson__list-item {
    margin-bottom: 10px;
}

.lesson__picture {
    margin: 20px 0;
    text-align: center;
}

.lesson__picture-description {
    margin: 15px 0 10px 0;
    opacity: 0.8;
    font-size: 18px;
}

.lesson__teleports {
    color: #000;
    padding-top: 60px;
    padding-bottom: 30px;
    /* display: flex;
    justify-content: space-evenly; */
}

.lesson__teleports .lesson__teleports-next--right {}

.lesson__teleports-next {
    float: left;
    transition: 0.3s linear;
}

.lesson__teleports-next--right {
    float: right;
}

.lesson__teleports-next:hover {
    color: #ff4c4c;
}

.resource__header {
    height: auto;
}

.header__burger {
    display: none;
}

/* #11A642 */

.practice-box__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.practice__item-teleport {
    
}

.practice__item-link {
    transition: 0.3s linear;
}

.practice__item-link:hover {
    color: #ff4c4c;
}

.practice .practice__title {
    margin-bottom: 10px;
}

.practice__subtitle {
    font-weight: 700;
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.practice__goals-list {
    margin-left: 60px;
    list-style-type: disc;
}

.practice__list-item {
    margin-bottom: 5px;
}

.practice__inner-title {
    margin: 10px 0;
    font-weight: bold;
}

.practice__inner-title--center {
    text-align: center;
    font-size: 22px;
    margin: 25px 0;
}

.practice__content {
    
}

.practice__text {
    text-align: justify;
    text-indent: 45px;
}

.practice__content-list {
    margin-left: 60px;
}

.practice__list-item {
    padding-left: 15px;
}

.practice__item-img {
    margin: 10px 0;
}

.practice__content-list .menu__link {
    text-transform: none;
    text-decoration: underline;
}

/* ИСТОЧНИКИ */

.resources__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resources__item .menu__link {
    text-transform: none;
    text-decoration: underline;
}

/* ТЕСТЫ */

.start_btn,
.info_box,
.quiz_box,
.result_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.start_btn button:hover {
    transform: scale(1.15);
}

.info_box{
    width: 540px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.info_box .info-title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info-list{
    padding: 15px 30px;
}

.info_box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info-list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    border-top: 1px solid lightgrey;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.quiz_box header{
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    background: #fff;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}

.quiz_box header .timer{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
}

.quiz_box header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}

.quiz_box header .time_line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: #007bff;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list{
    padding: 20px 0px;
    display: block;   
}

.quiz_box section .option_list .option{
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box section .option_list .option:last-child{
    margin-bottom: 0px;
}

.quiz_box section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz_box section .option_list .option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz_box section .option_list .option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz_box section .option_list .option.disabled{
    pointer-events: none;
}

.quiz_box section .option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    pointer-events: none;
    transition: all 0.3s ease;
    line-height: 24px;
}
.option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

.option_list .option .icon.cross{
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}

.quiz_box footer{
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

.quiz_box footer .total_que span{
    display: flex;
    user-select: none;
}

.quiz_box footer .total_que span p{
    font-weight: 500;
    padding: 0 5px;
}

.quiz_box footer .total_que span p:first-child{
    padding-left: 0px;
}

.quiz_box footer button{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.quiz_box footer button:hover{
    background: #0263ca;
}

.quiz_box footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background: #007bff;
}

.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    background: #fff;
}

.buttons button.quit:hover{
    color: #fff;
    background: #007bff;
}


/* Памятка */

.checklist__title {
    font-size: 2.4em;
    margin-top: 90px;
}

.checklist__text {
    text-align: justify;
}

.checklist__content {
    padding-bottom: 90px;
}

.checklist__link {
    color: #007bff;
    transition: all 0.3s ease;
}

.checklist__link:hover {
    color: #ff4c4c;
}

.lesson__text-example {
    padding-left: 10px;
}
.lesson__text-descr {
    padding-left: 15px;
    text-decoration: underline;
    opacity: 0.9;
}